.project{
    background-color: white;
}

.thumbnail img{
    width: 30rem;
    height: 15rem;
}

.project-container{
    display: flex;
    margin-bottom: 2%;
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    height: 268px;
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
}

.text {
    padding: 10px;
    
}

.thumbnail{
    position:relative;

}

.play-btn{
    position:absolute;
    width: 24%;
    cursor:pointer;
    left: 47%;
    bottom:40%;
}

.play-btn img{
    width:26%;
    height: 30%;
    
}