.intro {
    background-color: black;
}

.img{
    width: 89%;
    border-radius: 10;
    position: relative;
}

/* .container{
    display: flex;
} */

.photo{
   display: flex;
   justify-content: center; 
}