.intro {
    background-color: black;
}

.img{
    width: 89%;
    border-radius: 10;
    position: relative;
}

.intro .container{
    display: flex;
    padding: 20px;
}

.photo{
   display: flex;
   justify-content: center; 
}